* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: radial-gradient(circle at 35.55% 24.97%, #da7fff 0, #9165ff 25%, #4148e1 50%, #002ca6 75%, #001572 100%);
    padding: 20px;
}

.container {
    max-width: 400px;
    background-image: radial-gradient(circle at 35.55% 24.97%, #00ffff 0, #00ffff 16.67%, #36e0ff 33.33%, #48bde5 50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1, h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1rem;
    color: #333;
    text-align: left;
    margin-bottom: 5px;
}

.password-container {
    position: relative;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.password-container img {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}

button {
    padding: 10px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #4CAF50;
    color: white;
}
/*ojos*/

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-container input[type="password"] {
    width: 100%;
    padding-right: 60px; /* Espacio para el icono */
}

.toggle-password {
    position: absolute;
    right: 12px; /*espacios horizontal*/
    top: 38%; /*vertical*/
    transform: translateY(-90%); /* Centra verticalmente el icono */
    cursor: pointer;
}

.toggle-password img {
    width: 30px;
    height: 20px;
   
}

/*encabecera*/
/* Estilo para el header */
header {
    top: 0;  /* Coloca el header en la parte superior */
    position: fixed; /* Fija el header en la parte superior */
    left: 0;   /* Alinea al borde izquierdo */
    right: 0;  /* Alinea al borde derecho */
    z-index: 1000; /* Asegura que el header esté encima del contenido */
    background-color: #1c069e;  /* Fondo negro */
    color: #e6f51a;  /* Letra blanca */
    padding: 15px; /* Añade algo de espacio dentro del header */
    font-size: 1.2em; /* Tamaño de fuente */
    text-align: center; /* Centra el texto */
}

/* Estilo para el footer */
footer {
    position: fixed;  /* Fija el footer en la parte inferior */
    bottom: 0;        /* Coloca el footer en la parte inferior */
    left: 0;          /* Alinea al borde izquierdo */
    right: 0;         /* Alinea al borde derecho */
    z-index: 1000;    /* Asegura que el footer esté encima del contenido */
    background-color: #0d0349;  /* Fondo negro */
    color: #fff;  /* Letra blanca */
    padding: 10px; /* Añade algo de espacio dentro del footer */
    font-size: 1.2em; /* Tamaño de fuente */
    text-align: center; /* Centra el texto */
}

/* Estilo para pantallas pequeñas */
@media (max-width: 768px) {
    header, footer {
        font-size: 1em; /* Reducir el tamaño de la fuente en pantallas más pequeñas */
        padding: 15px 10px; /* Ajusta el padding para pantallas pequeñas */
    }
}

/* Estilo para pantallas muy pequeñas (móviles) */
@media (max-width: 480px) {
    header, footer {
        font-size: 1em; /* Ajusta el tamaño de la fuente para móviles */
        padding: 12px 8px; /* Ajusta el padding para un mejor espacio en pantallas pequeñas */
    }
}





